<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
 
    <!-- 引入redis配置 -->
    <bean id="redisConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >    
        <property name="location" value="classpath:redis-conf.properties" />
        <property name="ignoreUnresolvablePlaceholders" value="true" />    
    </bean>
    
    <!-- Redis 配置 --> 
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"> 
        <property name="maxTotal" value="${redis.pool.maxTotal}" /> 
        <property name="maxIdle" value="${redis.pool.maxIdle}" /> 
        <property name="maxWaitMillis" value="${redis.pool.maxWaitMillis}" /> 
        <property name="testOnBorrow" value="${redis.pool.testOnBorrow}" /> 
    </bean> 
    <!-- redis单节点数据库连接配置 --> 
    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"> 
        <property name="hostName" value="${redis.ip}" /> 
        <property name="port" value="${redis.port}" /> 
        <!-- <property name="password" value="${redis.pass}" /> --> 
        <property name="poolConfig" ref="jedisPoolConfig" /> 
    </bean> 
    <!-- redisTemplate配置，redisTemplate是对Jedis的对redis操作的扩展，有更多的操作，封装使操作更便捷 --> 
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"> 
        <property name="connectionFactory" ref="jedisConnectionFactory" /> 
    </bean>
 
 	<!-- 配置Jedis链接服务器参数 -->
    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig"> 
        <property name="maxTotal" value="4096"/> 
        <property name="maxIdle" value="200"/> 
        <property name="maxWaitMillis" value="3000"/> 
        <property name="testOnBorrow" value="true" /> 
        <property name="testOnReturn" value="true" /> 
    </bean> 
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool"> 
        <constructor-arg index="0" ref="poolConfig"/> 
        <constructor-arg index="1" value="127.0.0.1"/> 
        <constructor-arg index="2" value="6379" type="int"/> 
    </bean>
 
</beans>